*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(0, 255, 157);
    color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    margin-right: auto;
    display: flex;
    gap: 20px;
}

.logo-img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.logo-title{
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover{
    color:black;
    transform: rotate(2deg);
}

.btn-cta{
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background-color: #bbff00;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

nav ul{
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li a{
    transition: all .5s ease 0s;
    display: block;
}

li a:hover{
    color:rgb(0, 0, 0);
    transform: rotate(2deg);
}

a {
    color: #eaeaea;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.description{
    font-size: 28px;
    font-weight: bolder;
}

.img-foto{
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.parallax{
    background-image: url('asset/icons/resto.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tentang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 255, 157);
    padding: 20px;
}

.mt-10{
    margin-top: 20px; 
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-item{
    text-align: center;
    width: 20em;
    background: #f7f7f7;
    color:#222;
    padding: 25px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 5);
}

.card-title{
    font-size: 18px;
    font-weight: border;
}

.card-description{
    font-size: 14px;
    margin-top: 4px;
}

.icon{
    margin: 10px;
    width: 75px;
    height: 75px;
    padding: 4px;
}

footer{
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    background:rgb(0, 255, 157);
    color: #222;
}

@media screen and (max-width: 500px) {
    .cards{
        flex-direction: column;
        gap: 0;
    }

    .card-item{
        width: 100%;
    }

    .container{
        width: 100%;
        padding: 0;
    }

    .description{
        text-align: center;
    }

    .intro{
        margin-top: 20px;
    }

    .img-foto{
        padding: 0;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background:rgb(0, 255, 157);
        z-index: 9;
    }

    footer{
        margin-bottom: 70px;
    }
}